<div class="new">
	<%= link_to "New", new_link_path %>
</div>

<% @tags.each do |tag| %>
	<div class="tag">
		<div class="name"><%= tag.name %></div>
		<div class="links">
			<% tag.links.each do |link| %>
				<div class="link">
					<%= link_to '.', edit_link_path(link) %>
					<%= link_to link.title.truncate(50), link.url %>
				</div>
			<% end %>
		</div>
	</div>
<% end %>
