*
{
	margin: 0px;
	padding: 0px;
}

body
{
	font-family: Verdana, sans-serif;
	font-size: 12px;	
}

textarea
{
	width: 400px;
	height: 100px;
}

.nav
{
	padding: 15px 0px 15px 5px;
}

.nav a
{
	text-decoration: none;
}

.tag
{
	float:left;
	width: 300px;
	border-top: 1px solid #777777;
	margin: 5px;
	margin-bottom: 10px;
}

.name
{
	padding: 5px;
	background-color: #cccccc;
	font-style: italic;
}

.name a
{
	color: #252525;
	font-style: italic;
	text-decoration: none;
}

.name a:hover
{
	text-decoration: underline;
}

.links
{
	height: 150px;
	overflow: auto;
}

.link:nth-child(even)
{
	background-color: #efefef;
	font-style: italic;
}

.link
{
	margin-bottom: 3px;
}

.link a
{
	color: #3366cc;
	text-decoration: none;
}

.link a:hover
{
	text-decoration: underline;
}

.nuke
{
	border: 1px dashed red;
	text-align: center;
	width: 100px;
	padding: 10px;
	margin: 10px;
}

.nuke:hover
{
	background-color: #cccccc;
}
