*
{
	margin: 0px;
	padding: 0px;
}

body
{
	font-family: Verdana, sans-serif;
	font-size: 12px;	
}

.tag
{
	float:left;
	width: 300px;
	border-top: 1px solid #777777;
	margin: 5px;
	margin-bottom: 10px;
}

.name
{
	padding: 3px;
	background-color: #cccccc;
	font-style: italic;
}

.link
{
	margin-bottom: 3px;
}
