<% @klasses.each do |klass| %>
	<div class="klass">
		<div class="logo"><%= image_tag(klass.photo) %></div>
		<div class="name"><%= klass.name %></div>
		<div class="description"><%= klass.description %></div>
		<div class="dates"><%= klass.dates %></div>
	</div>
<% end %>

<div class="clear"></div>
